DATABASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_PORT=
MAIL_FROM=
MAIL_FROM_NAME=
DOMAIN=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
MEDCLIP_MODEL_NAME=
MEDBLIP_MODEL_NAME=